:root {
    --primary-color: #ff661f;
    --primary-light: #ff8b4d;
    --primary-dark: #cc5200;

    --success-color: #28A745;
    --error-color: #DC3545;

    --background-color: #F4F4F9;
    --text-color: #333333;
    --muted-color: #6C757D;
    --border-color: #E0E0E0;
}

* {
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
}

nav {
    background-color: var(--text-color);
    color: var(--background-color);
    width: 12em;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
}

nav > ul {
    list-style: none;
}

nav > ul > a {
    text-decoration: none;
    color: var(--background-color);
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

nav > ul > a:hover, nav > ul > a:focus {
    text-decoration: none;
    color: inherit;
}

nav > ul > a > li {
    padding: 0.7em;
    cursor: pointer;
}

nav > ul > a > li:hover {
    background-color: var(--primary-light);
}

nav > ul > a > li.active {
    background-color: var(--primary-color);
}

nav > ul > a > li.active:hover {
    background-color: var(--primary-dark);
}

nav > ul > a > li > i {
    margin-right: 0.7em;
}

main > .card, main > section {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    margin-bottom: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > .card > .card-header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    border-bottom: 1px solid var(--border-color);
}

main > .card > .card-body, main > section {
    padding: 0 1em;
}

main > .card > .card-body > *:not(br), main > section > *:not(br){
    margin: 1em 0;
}

main > section > table {
     width: 100%;
     border-collapse: collapse;
     border: 1px solid var(--muted-color);
}

main > section > table th, main > section > table td {
    border: 1px solid var(--muted-color);
    padding: 0.5em;
    text-align: left;
}


a:not(ul > a) {
    text-decoration: underline;
    color: var(--primary-color);
}

a:not(ul > a):hover {
    color: var(--primary-dark);
}

ul, ol {
    list-style-position: inside;
}

ul > li::marker {
    color: var(--primary-color);
}

input[type=text], input[type=password], input[type=number] {
    border: 0;
    padding: 0.2em;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--background-color);
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
    background-color: var(--border-color);
}

input[type=button], input[type=submit], button {
    background-color: var(--background-color);
    padding: 0.4em;
    outline: none;
    border: 2px solid var(--border-color);
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
}


@media screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }
}
