{% extends "base.twig" %}

{% set nav = true %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% for card in cards %}
        <section class="card">
            <div class="card-header">{{ card.heading }}</div>
            <div class="card-body">
                <span>{{ card.content | raw }}</span>
            </div>
        </section>
    {% endfor %}
{% endblock %}
