<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Clockwork Admin - {% block title %}{% endblock %}</title>
          <link rel="stylesheet" href="assets/css/base.css">
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          />
          {% block head %}{% endblock %}
     </head>
     <body>
          <header>
              <div class="logo">
                  <h1>Clockwork CMS</h1>
                  <span>Better than Wordpress</span>
              </div>
              <div class="user">
                    {% if nav %}
                         <span>You are logged as <a href="#">{{ user_name }}</a>. Now you can <a href="/clockwork-admin/log-out">log out</a>.</span>
                    {% endif %}
              </div>
          </header>
          <main>
               {% if nav %}
                    <aside>
                         <nav>
                              <ul>
                                   <li><a href="/clockwork-admin/dashboard" {% if activeNavItem == "Dashboard" %}class="active"{% endif %}>Dashboard</a></li>
                                   <li><a href="/clockwork-admin/pages" {% if activeNavItem == "Pages" %}class="active"{% endif %}>Pages</a></li>
                                   <li><a href="/clockwork-admin/settings" {% if activeNavItem == "Settings" %}class="active"{% endif %}>Settings</a></li>
                              </ul>
                         </nav>
                    </aside>
               {% endif %}
               <article>
                  {% if nav_search %}
                    <nav>
                         <input type="text" name="" id="">
                         <input type="submit" value="Search">
                    </nav>
                  {% endif %}
                  {% if error is not null %}
                    <div class="popup error" id="popup-error">
                         <div>
                              <span>
                                   <b>ERROR:</b>
                                   Type of error: {{ error|replace({'-': " "}) }}. 
                                   {% if message %}
                                        Message: {{ message|replace({'-': ' '}) }}.
                                   {% endif %}
                              </span>
                              <button class="close-popup">&times;</button>
                         </div>
                    </div>
                  {% endif %}
                  <div class="content">
                    {% block content %}{% endblock %}
                  </div>
               </article>
          </main>
          <script src="assets/js/popup.js"></script>
          {% if error is not null %}
          <script>
               document.addEventListener('DOMContentLoaded', openPopup("popup-error"));
          </script>
          {% endif %}
          {% block js %}{% endblock %}
      </body>
</html>
