<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Clockwork Admin - {% block title %}{% endblock %}</title>
          <link rel="stylesheet" href="assets/css/base.css">
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          />
          {% block head %}{% endblock %}
     </head>
     <body>
          <div class="container">
               {% if nav %}
                    <nav>
                         <ul>
                              <a href="/clockwork-admin/dashboard">
                                   <li {% if activeNavItem == "Dashboard" %}class="active"{% endif %}>
                                        <i class="fas fa-tachometer-alt"></i>
                                        <span>Dashboard</span>
                                   </li>
                              </a>
                              <a href="/clockwork-admin/pages">
                                   <li {% if activeNavItem == "Pages" %}class="active"{% endif %}>
                                        <i class="fas fa-file-alt"></i>
                                        <span>Pages</span>
                                   </li>
                              </a>
                              <a href="/clockwork-admin/settings">
                                   <li {% if activeNavItem == "Settings" %}class="active"{% endif %}>
                                        <i class="fas fa-cog"></i>
                                        <span>Settings</span>
                                   </li>
                              </a>
                         </ul>
                         <ul>
                              <a href="/clockwork-admin/log-out">
                                   <li>
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Log out</span>
                                   </li>
                              </a>
                         </ul>
                    </nav>
               {% endif %}
               <main>
               {% block content %}{% endblock %}
               </main>
          </div>
          {% block js %}{% endblock %}
     </body>
</html>
