{% extends "base.html" %}

{% set nav = false %}

{% block title %}
     {{ website_title }}
{% endblock %}

{% block style %}
     main {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 1em;
     }
{% endblock %}

{% block content %}
     <section>
          {% if admin_exsists %}
               <form action="#">
                    <input type="text" name="name" placeholder="Username"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="submit" value="LOGIN">
               </form>
          {% else %}
               <form action="#">
                    <input type="text" name="name" placeholder="Username"><br>
                    <input type="password" name="password" placeholder="Password"><br>
                    <input type="password_repeat" name="password_repeat" placeholder="Repeat password"><br>
                    <input type="submit" value="REGISTER">
               </form>
          {% endif %}
     </section>
{% endblock %}