{% extends "base.twig" %}

{% set nav = false %}

{% block title %}
     {{ website_title }}
{% endblock %}

{% block head %}
     <link rel="stylesheet" href="css/login-signin.css">
{% endblock %}

{% block content %}
     <div class="card">
          {% if admin_exsists %}
               <div class="card-header">
                    <h3>LOG IN</h3>
               </div>
               <div class="card-body">
                    <form action="#">
                         <input type="text" name="name" placeholder="Username"><br><br>
                         <input type="password" name="password" placeholder="Password"><br><br>
                         <input type="submit" value="LOG IN">
                    </form>
               </div>
          {% else %}
               <div class="card-header">
                    <h3>SIGN IN</h3>
               </div>
               <div class="card-body">
                    <form action="#">
                         <input type="text" name="name" placeholder="Username"><br><br>
                         <input type="password" name="password" placeholder="Password"><br><br>
                         <input type="password" name="password_repeat" placeholder="Repeat password"><br><br>
                         <input type="submit" value="SIGN IN">
                    </form>
               </div>
          {% endif %}
     </div>
{% endblock %}